.editForm {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -42.5vw;
    margin-top: -35vh;
    height: 85vh;
    width: 85vw;
    font-family: Inter, serif;
    display: none;
    max-height: 400px;
    min-height: 250px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .editForm { height: 80vh }
}

@media (min-width: 768px) and (max-width: 991px) {
    .editForm {
        height: 80vh;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}