.editForm {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -42.5vw;
    margin-top: -35vh;
    height: 85vh;
    width: 85vw;
    font-family: 'Inter', sans-serif;
    display: none;
    max-height: 400px;
    min-height: 285px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .editForm {
        height: 80vh;
        max-height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .editForm {
        height: 85vh;
        max-height: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editForm {
        margin-left: -20vw;
        margin-top: -29vh;
        height: 85vh;
        width: 40vw;
    }
}

@media (min-width: 1200px) {
    .editForm {
        /*margin-left: -17vw;
        margin-top: -9.5%;  */
        margin-top: min(-140px, -10.65vw);
        margin-left: min(-215px, -14vw);
        height: max(370px,24.13vw);
        width: max(430px, 28vw);
        max-height: none;
    }
}