.editForm {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -141px;
    margin-top: -140px;
    height: auto;
    width: 282px;
    font-family: 'Inter', sans-serif;
    display: none;
    min-width: 282px;
    z-index: 3;
}

.popupOpacity {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editForm {
        margin-top: -140px;
        margin-left: -215px;
        height: 370px;
        width: 430px;
    }
}

@media (min-width: 1200px) {
    .editForm {
        margin-top: -140px;
        margin-left: -215px;
        height: 370px;
        width: 430px;
    }
}