.profile {
    width: max(282px, 88.125vw);
    height: auto;
    margin: max(28px, 13.125vw) auto 0;
    display: block;
}

@media (min-width: 1200px) {
    .profile {
        width: max(880px ,68.75vw);
        height: max(120px, 7.85vw);
        margin: max(40px,2.65vw) auto max(51px,3.33vw) auto;
    }
}