.profile {
    width: 90%;
    height: auto;
    margin: 8% auto 0;
    display: block;
}

@media (min-width: 576px) and (max-width: 767px) {
    .profile {
        margin-top: 6%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .profile {

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .profile {
        width: 68.75vw;
        height: 18vh;
        margin: 7vh auto;
    }
}

@media (min-width: 1200px) {
    .profile {
        width: 68.75vw;
        height: 18vh;
        margin: max(40px,7vh) auto max(51px,7.2vh) auto;
        min-width: 880px;
        min-height: 120px;
    }
}