.submitButton {
    width: max(238px, 74.375vw);
    height: auto;
    border-radius: 2px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    border: none;
    margin: 7.92vh auto auto auto;
    cursor: pointer;
    font-size: max(18px, 5.625vw);
    font-weight: 400;
    line-height: 14vw;
}

.empty {
    height: 10vh;
    background-color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .submitButton {
        margin-top: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .submitButton {
        width: max(358px, 83.3%);
        height: max(50px, 15.15%);
        margin-top: max(44px, 10.25%);
        line-height: max(48px, 3vw);
        font-size: max(18px, 1.2vw);
    }
}

.submitButton:hover {
    opacity: 80%;
}
