.submitButton {
    width: 80%;
    height: 15%;
    border-radius: 2px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    border: none;
    margin: 2.5rem auto auto auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.7rem;
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .submitButton {
        margin-top: 5rem;
        line-height: 4.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .submitButton {
        margin-top: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .submitButton {
        width: max(358px, 83.3%);
        height: max(50px, 15.15%);
        margin-top: max(44px, 10.25%);
        line-height: max(48px, 3vw);
        font-size: max(18px, 1.2vw);
    }
}

.submitButton:hover {
    opacity: 80%;
}
