.picture {
    width: 80vw;
    border-radius: 8px 8px 0 0;
    max-height: 350px;
    max-width: 350px;
    min-width: 220px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .picture {
        width: 100%;
        height: 16.7rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .picture {
        width: 100%;
        height: 22rem;
        max-width: none;
        max-height: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .picture {
        width: 100%;
        height: 14.5rem;
        max-width: none;
        max-height: none;
    }
}

@media (min-width: 1200px) {
    .picture {
        width: 100%;
        height: max(282px, 22.033vw);
        max-width: none;
        max-height: none;
        border-radius: max(10px,0.8vw) max(10px, 0.8vw) 0 0;
    }
}