.picture {
    width: max(282px, 100%);
    height: auto;
    border-radius: 10px 10px 0 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .picture {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .picture {
        width: 100%;
        height: max(282px, 22.033vw);
        border-radius: 15px 15px 0 0;
        max-height: 423px;
    }
}