.likeButton {
    float: right;
    background-color: #FFFFFF;
    border: none;
    margin-top: max(30px, 9.375vw);
    margin-right: max(20px ,9.375vw);
    width: max(30px, 6.875vw);
    height: max(19px, 5.9375vw);
}

.like {
    height: 100%;
    width: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .likeButton {
        margin: max(21px, 2.19vw) max(16px, 1.566vw) 0 0;
        width: max(26px, 1.723vw);
        height: max(17px,  1.49vw);
    }
}

@media (min-width: 1200px) {
    .likeButton {
        margin: 9% 13% 0 0;
        width: max(22px, 1.723vw);
        height: max(19px,  1.49vw);
        max-height: 40px;
        max-width: 25px;
    }
}

.likeButton:hover {
    opacity: 70%;
    cursor: pointer;
}