.element {
    width: max(282px, 88.125vw);
    height: max(361px, 112.8125vw);
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .element {
        border-radius: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .element {
        height: auto;
        width: max(218px, 33.375vw);
        border-radius: max(10px, 0.8vw);
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .element {
        height: max(361px, 28.2vw);
        width: max(282px, 22.033vw);
        border-radius: 15px;
        margin: 0;
        max-width: 423px;
        max-height: 541px;
    }
}