.modal-window__edit-field-1 {
    display: block;
    height: 30px;
    width: max(238px, 85%);
    margin-top: max(70px, 24%);
    margin-left: max(20px, 7%);
}

@media (min-width: 1200px) {
    .modal-window__edit-field-1 {
        display: block;
        height: 27px;
        width: 358px;
        margin: 48px 0 0 36px;
    }
}