.card-container {
    width: max(282px, 75vw);
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    margin: auto;
}

@media (min-width: 1200px) {
    .card-container {
        width: 880px;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 17px;
        grid-row-gap: 20px;
        margin: auto;
    }
}