.line {
    width: 100%;
    height: 1px;
    border: none;
    opacity: 70%;
    background-color: #545454;
    color: #545454;
    margin-top: max(31px, 9.875vw);
}

@media (min-width: 768px) and (max-width: 991px) {
    .line {
        height: 2px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .line {
        height: 1px;
        margin: 0;
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    .line {
        height: 1px;
        margin: 0;
        position: absolute;
        bottom: 0;
    }
}