.logo {
    margin-left: max(27px, 8.75vw);
    height: max(24px, 7.625vw);
    width: max(104px, 32.42vw);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo {
        height: max(26px, 2.15vw);
        width: max(110px, 9.25vw);
        margin-top: 1%;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .logo {
        height: auto;
        width: max(142px, 9.25vw);
        margin-top: 1%;
        margin-left: 0;
        max-width: 177px;
    }
}