.logo {
    padding-top: 30px;
    padding-left: 10%;
    height: 24px;
    width: 100px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .logo {
        padding-top: 2%;
        padding-left: 5%;
        height: 24px;
        width: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        height: 30px;
        width: 120px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo {
        height: 35px;
        width: 150px;
        padding-top: 1%;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .logo {
        height: 5.25vh;
        width: 22.8vh;
        margin-top: 1%;
        padding-top: 0;
        padding-left: 0;
        min-width: 142px;
        min-height: 33px;
    }
}