.header {
    width: 100%;
    margin: max(28px, 8.75vw) 0 0 0;
    height: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
    .header {
        height: max(74px, 4.82vw);
        width: max(880px, 68.75vw);
        margin: max(45px, 3.7vh) auto 0;
        position: relative;
    }
}