.header {
    width: 100%;
    margin: max(28px, 8.75vw) 0 0 0;
    height: auto;
}

@media (min-width: 576px) and (max-width: 767px) {
    .header {

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        margin: 0 auto 0 auto;
        height: auto;
        width: 68.75vw;
        padding-top: 3.7vh;
    }
}

@media (min-width: 1200px) {
    .header {
        height: max(74px, 4.82vw);
        width: max(880px, 68.75vw);
        margin: max(45px, 3.7vh) auto 0;
        position: relative;
    }
}