.header {
    width: 100%;
    margin: max(28px, 8.75vw) 0 0 0;
    height: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        height: max(57px, 4.82vw);
        width: max(682px, 68.75vw);
        margin: max(35px, 3.7vh) auto 0;
        position: relative;
    }
}

@media (min-width: 1200px) {
    .header {
        height: 74px;
        width: 880px;
        margin: 45px auto 0;
        position: relative;
    }
}