.open-card__closer {
    float: right;
    border: none;
    background: url("../../../images/close-icon.svg");
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

.open-card__closer:hover {
    opacity: 0.5;
}