.editField2 {
    margin-top: 5.3vh;
    width: max(238px, 74.375vw);
    margin-left: auto;
    margin-right: auto;
}

.editedText {
    width: 100%;
    border: none;
    font-size: max(14px, 4.375vw);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editField2 {
        margin-top: 2rem;
    }
}

@media (min-width: 1200px) {
    .editField2 {
        margin-top: max(30px, 7%);
        height: max(27px, 8.3%);
        width: max(358px, 83.3%);
    }

    .editedText {
        font-size: max(14px, 1vw);
    }
}