.editField2 {
    margin-top: 5.3vh;
    width: max(238px, 74.375vw);
    margin-left: auto;
    margin-right: auto;
}

.editedText {
    width: 100%;
    border: none;
    font-size: max(14px, 4.375vw);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editField2 {
        margin-top: 30px;
        height: 27px;
        width: 358px;
    }

    .editedText {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .editField2 {
        margin-top: 30px;
        height: 27px;
        width: 358px;
    }

    .editedText {
        font-size: 14px;
    }
}