.editField1 {
    margin-top: 13.2vh;
    width: max(238px, 74.375vw);
    margin-left: auto;
    margin-right: auto;
}

.editLine {
    width: 100%;
    opacity: 20%;
    margin: 0 auto;
    background-color: #545454;
    color: #545454;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editField1 {
        margin-top: 48px;
        height: 27px;
        width: 358px;
    }
    .editLine {
        margin-top: 0.7rem;
    }
}

@media (min-width: 1200px) {
    .editField1 {
        margin-top: 48px;
        height: 27px;
        width: 358px;
    }

    .editLine {
        margin-top: 0.7rem;
    }
}