.elements {
    width: max(282px, 88.125vw);
    height: auto;
    margin: max(36px, 11.25vw) auto 0 auto;
    display: grid;
    grid-row-gap: max(20px, 6.25vw);
    grid-template-columns: 1fr;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .elements {
        grid-template-columns: 1fr 1fr;
        width: max(682px, 68.75vw);
        height: auto;
        grid-column-gap: max(20px, 2vw);
        grid-row-gap: max(20px, 2vw);
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .elements {
        grid-template-columns: 1fr 1fr 1fr;
        width: max(880px, 68.75vw);
        height: max(744px, 58.13vw);
        grid-column-gap: max(17px, 1.328%);
        grid-row-gap: max(20px, 1.56%);
        margin-top: 0;
        max-width: 1320px;
        max-height: 1117px;
    }

    main {
        width: 1320px;
        margin: 0 auto;
    }
}
