.elements {
    width: max(282px, 88.125vw);
    height: auto;
    margin: max(36px, 11.25vw) auto 0 auto;
    display: grid;
    grid-row-gap: max(20px, 6.25vw);
    grid-template-columns: 1fr;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .elements {
        grid-template-columns: 1fr 1fr;
        width: 42.65rem;
        height: auto;
        grid-column-gap: 1.65rem;
        grid-row-gap: 1.65rem;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .elements {
        grid-template-columns: 1fr 1fr 1fr;
        width: 880px;
        height: auto;
        grid-column-gap: 17px;
        grid-row-gap: 20px;
        margin-top: 0;
    }
}
