.elements {
    width: max(282px, 88.125vw);
    height: auto;
    margin: max(36px, 11.25vw) auto 0 auto;
    display: grid;
    grid-row-gap: max(20px, 6.25vw);
    grid-template-columns: 1fr;
}

@media (min-width: 576px) and (max-width: 767px) {
    .elements {
        grid-template-columns: 1fr 1fr;
        width: 94%;
        max-width: none;
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .elements {
        grid-template-columns: 1fr 1fr;
        width: 94%;
        max-width: none;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .elements {
        grid-template-columns: 1fr 1fr 1fr;
        width: 68.75%;
        max-width: none;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .elements {
        grid-template-columns: 1fr 1fr 1fr;
        width: max(880px, 68.75vw);
        height: max(744px, 58.13vw);
        grid-column-gap: max(17px, 1.328vw);
        grid-row-gap: max(20px, 1.56vw);
        margin-top: 0;
    }
}
