.name {
    margin: 0;
    font-size: max(25px, 8.44vw);
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.job {
    font-size: max(14px, 4.375vw);
    color: #FFFFFF;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    .name {
        font-size: 31px;
    }

    .job {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .name {
        font-size: 30px;
        margin: 0;
    }

    .job {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .name {
        font-size: max(42px, 2.7vw);
        margin: 0;
        max-width: max(290px, 22.66vw);
        text-align: left;
    }

    .job {
        font-size: max(18px ,1.2vw);
        margin: max(16px, 1.05vw) 0 0 0;
        max-width: max(350px, 27.34vw);
        text-align: left;
        float: left;
    }
}