.profileInfo {
    font-family: Inter, serif;
    text-align: center;
    margin: 5vh auto 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) and (max-width: 767px) {
    .profileInfo {}
}

@media (min-width: 768px) and (max-width: 991px) {
    .photo {

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .profile {

    }
}

@media screen and (min-width: 1200px) {
    .profileInfo {
        display: flex;
        font-family: Inter, serif;
        align-self: center;
        order: 2;
        margin-left: 30px;
        margin-top: 10px;
    }
}