.profileInfo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 5vh auto 0;
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80vw;
}

@media (min-width: 576px) and (max-width: 767px) {
    .profileInfo {}
}

@media (min-width: 768px) and (max-width: 991px) {
    .photo {

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .profileInfo {
        display: flex;
        align-self: center;
        float: left;
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .profileInfo {
        display: grid;
        float: left;
        margin-left: max(30px,3.5%);
        margin-top: max(18px,1.5%);
        min-height: 73px;
        min-width: 300px;
        text-align: left;
    }
}