.name {
    margin: 0;
    font-size: max(25px, 8.44vw);
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.job {
    font-size: max(14px, 4.375vw);
    color: #FFFFFF;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .name {
        font-size: max(32px, 2.7vw);
        margin: 0;
        max-width: max(224px, 22.66vw);
        text-align: left;
    }

    .job {
        font-size: max(14px ,1.2vw);
        margin: 0 0 0 0;
        max-width: max(271px, 27.34vw);
        text-align: left;
        float: bottom;
    }
}

@media (min-width: 1200px) {
    .name {
        font-size: max(42px, 100%);
        margin: 0;
        max-width: max(290px, 90%);
        text-align: left;
        height: 42px;
    }

    .job {
        font-size: max(18px , 100%);
        margin: 0 0 0 0;
        max-width: max(350px, 100%);
        text-align: left;
        max-height: 40px;
        float: bottom;
    }
}