.profile__add-button-pic {
    display: none;
}

.profile__add-button-pic-m {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .profile__add-button-pic {
        display: block;
        width: 100%;
        height: 100%;
    }

    .profile__add-button-pic-m {
        display: none;
    }
}