.editFormCloser {
    width: max(20px, 6.25vw);
    height: auto;
    margin-left: max(262px, 81.875vw);
}

.editFormCloserPic {
    height: auto;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editFormCloser {
        margin-left: 438px;
        margin-bottom: 8px;
        height: 32px;
        width: auto;
    }

    .editFormCloserPic {
        height: auto;
        width: auto;
    }
}

@media (min-width: 1200px) {
    .editFormCloser {
        margin-left: 438px;
        margin-bottom: 8px;
        height: 32px;
        width: auto;
    }

    .editFormCloserPic {
        height: auto;
        width: auto;
    }
}