.editFormCloser {
    width: max(20px, 6.25vw);
    height: auto;
    margin-left: max(262px, 81.875vw);
}

.editFormCloserPic {
    height: auto;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editFormCloser {
        margin-left: max(340px, 28.55vw);
        margin-bottom: max(7px, 0.525vw);
        height: max(25px, 2.09vw);
        width: auto;
    }

    .editFormCloserPic {
        height: max(32px, 2.09vw);
        width: max(32px, 2.09vw);
    }
}

@media (min-width: 1200px) {
    .editFormCloser {
        margin-left: max(438px, 28.55vw);
        margin-bottom: max(8px, 0.525vw);
        height: max(32px, 2.09vw);
        width: auto;
    }

    .editFormCloserPic {
        height: max(32px, 2.09vw);
        width: max(32px, 2.09vw);
    }
}