.editFormCloser {
    height: 6.25vw;
    width: 100%;
    margin-left: 81.875vw;
    margin-bottom: 5vw;
}

.editFormCloserPic {
    height: 100%;
    width: auto;
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767px) {
    .editFormCloserPic {
        height: 30px;
        width: 30px;
    }

    .editFormCloser {
        margin-bottom: 0.7rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .editFormCloserPic {
        height: 2rem;
        width: 2rem;
    }

    .editFormCloser {
        margin-bottom: 0.7rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editFormCloser {
        margin-left: 96%;
    }

    .editFormCloserPic {
        height: 2rem;
        width: 2rem;
    }
}

@media (min-width: 1200px) {
    .editFormCloser {
        margin-left: max(438px, 28.55vw);
        margin-bottom: max(8px, 0.525vw);
        height: max(32px, 2.09vw);
        width: auto;
    }

    .editFormCloserPic {
        height: max(32px, 2.09vw);
        width: max(32px, 2.09vw);
    }
}