.avatar {
    height: 37.5vw;
    width: 37.5vw;
    margin: 0 auto;
}

.photo {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    min-height: 120px;
    min-width: 120px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .avatar {/* */}
}

@media (min-width: 768px) and (max-width: 991px) {
    .avatar {

    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .avatar {
        height: 100%;
        width: auto;
        min-height: 120px;
        float: left;
    }

    .photo {
        vertical-align: center;
        border-radius: 50%;
        min-height: 120px;
        min-width: 120px;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .avatar {
        height: 100%;
        width: auto;
        min-height: 0;
        float: left;
        min-width: 0;
    }

    .photo {
        border-radius: 50%;
        min-height: 0;
        min-width: 0;
        height: 100%;
        width: 100%;
    }
}