.avatar {
    height: 100%;
    width: auto;
    min-height: 120px;
    order: 1;
}

.photo {
    vertical-align: center;
    border-radius: 50%;
    min-height: 120px;
    min-width: 120px;
    height: 100%;
    width: 100%;
}