@media (max-width: 991px) {
    .editButton {
        cursor: pointer;
        margin-top: 7px;
        margin-left: 8px;
    }

    .rectangle {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .editButton {
        margin-left: 12px;
        margin-top: 10px;
        cursor: pointer;
    }

    .rectangle {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 1200px) {
    .editButton {
        margin-left: max(18px, 3%);
        margin-top: max(34px, 4.5vh);
        height: auto;
        width: auto;
        float: left;
    }

    .rectangle {
        width: max(24px, 3.4vh);
        height: max(24px, 3.4vh);
        cursor: pointer;
    }
}

.rectangle:hover {
    opacity: 50%;
}
