.editButton {
    height: auto;
    width: auto;
}

.rectangle {
    width: max(18px, 5.625vw);
    height: auto;
    cursor: pointer;
}

@media (max-width: 991px) {
    .editButton {
        margin-top: 7px;
        margin-left: 8px;
    }

    .rectangle {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .editButton {
        margin-left: 12px;
        margin-top: 10px;
    }

    .rectangle {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 1200px) {
    .editButton {
        margin-left: max(18px, 3%);
        margin-top: max(15px, 1.177vw);
        margin-right: 20px;
    }

    .rectangle {
        width: max(24px, 1.565vw);
        height: max(24px, 1.565vw);
    }
}

.rectangle:hover {
    opacity: 50%;
}
