.editFormContent {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 94%;
    width: 100%;
}

.editProfile {
    margin-top: 0;
    padding-top: 6%;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

@media (min-width: 576px) and (max-width: 767px) {
    .editFormContent {
        min-height: 250px;
        max-height: 400px;
        height: 75%;
    }

    .editProfile {
        padding-top: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .editFormContent {
        min-height: 200px;
        max-height: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editFormContent {
        height: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 3839px) {
    .editFormContent {
        height: 100%;
    }
}

@media (min-width: 3840px) {
    .editProfile {
        font-size: 4.5rem;
    }
}