.editFormContent {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: auto;
    width: max(282px, 88.125vw);
}

.editProfile {
    width: 74.375vw;
    padding-top: 8%;
    text-align: left;
    font-size: max(17px, 5.3vw);
    font-weight: 900;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
    .editFormContent {
        border-radius: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editFormContent {
        height: max(256px, auto);
        border-radius: max(10px, 0.8vw);
        width: max(333px, 100%);
    }

    .editProfile {
        width: max(256px, 83.25%);
        text-align: left;
        padding-top: max(26px, 8%);
        margin: 0 auto;
        font-size: max(19px, 1.6vw);
    }
}

@media (min-width: 1200px) {
    .editFormContent {
        height: max(330px, auto);
        border-radius: max(10px, 0.8vw);
        width: max(430px, 100%);
    }

    .editProfile {
        width: max(330px, 83.25%);
        text-align: left;
        padding-top: max(34px, 8%);
        margin: 0 auto;
        font-size: max(24px, 1.6vw);
    }
}