.editFormContent {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 100.625vw;
    width: 100%;
}

.editProfile {
    width: 74.375vw;
    padding-top: 8%;
    text-align: left;
    font-size: 5.3vw;
    font-weight: 900;
    margin: 0 auto;
}

@media (min-width: 576px) and (max-width: 767px) {
    .editFormContent {
        min-height: 250px;
        max-height: 400px;
        height: 75%;
    }

    .editProfile {
        padding-top: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .editFormContent {
        min-height: 200px;
        max-height: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .editFormContent {
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .editFormContent {
        height: max(330px, 21.5vw);
        border-radius: max(10px, 0.8vw);
    }

    .editProfile {
        width: max(358px, 83.25%);
        text-align: left;
        padding-top: max(34px, 8%);
        margin: 0 auto;
        font-size: max(24px, 1.6vw);
    }
}